<head>
  <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div class='info-container'>
  <section class="info">
    <header>
      <h2>Peter Lonestar</h2>
      <h3>Founder</h3>
    </header>
    <p>
      Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
    </p>
  </section>

  <section class="info">
    <header>
      <h2>Bill Billerson</h2>
      <h3>CFO</h3>
    </header>
    <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </section>

  <section class="info">
    <header>
      <h2>Michael Mainer</h2>
      <h3>CTO</h3>
    </header>
    <p> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    </p>
  </section>
</div>
<footer>
  <p class="masthead-footing">Contact us: <span>admin@tweetful.io</span>
  </p>
</footer>