<ul>
  <li>
    <strong>Test User</strong>
  </li>
  <li>
    <small>@TestUser</small>
  </li>
  <li>
    <table>
      <tbody>
        <tr>
          <td>
            <h4>6</h4>
            <small class="uppercase lighter">Tweets</small>
          </td>
          <td>
            <h4>6</h4>
            <small class="uppercase lighter">Following</small>
          </td>
          <td>
            <h4>6</h4>
            <small class="uppercase lighter">Followers</small>
          </td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>
    <form>
      <div class="mar-top-15">
        <div>
          <textarea placeholder="Compose new Tweet..."></textarea>
        </div>
        <input type="submit" value="Tweet">
      </div>
    </form>
  </li>
</ul>
<ul>
  <li><a href="#">Follow</a></li>
  <li><a href="#">Tweet</a></li>
</ul>
<h4>Who to follow</h4>
<p>Tweetful accounts in alpabetical order.</p>
<hr />
<ol>
  <li ng-repeat-start="user in users">
    <strong>{{user.name}}</strong>
    <span>@{{user.username}}</span>
    <a href="#">Follow</a>
  </li>
  <li><hr></li>
  <span ng-repeat-end></span>
</ol>
