<div class="top-space"></div>
<form>
  <div>
    <div>
      <input type="email" placeholder="Username or email">
    </div>
    <div>
      <input type="password" placeholder="Password">
      <input type="submit" value="Sign in">
    </div>
    <label><input type="checkbox" value="Remember me"></label>
    <a href="#">Forgot password?</a>
  </div>
</form>
<h4>New to Tweetful? <span>Sign up</span></h4>
<hr />
<form>
  <div>
    <div>
      <input type="text" placeholder="Full Name">
    </div>
    <div>
      <input type="text" placeholder="Username">
    </div>
    <div>
      <input type="email" placeholder="Email">
    </div>
    <div>
      <input type="password" placeholder="Password">
    </div>
    <input type="submit" value="Sign up for Tweetful">
  </div>
</form>
